
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;700;900&display=swap');

:root {
  --roboto: 'Roboto', sans-serif;
  --outfit: 'Outfit', sans-serif;
  --opacity: rgba(217, 217, 217, 0.4);
  --radius-15: 15px;
  --radius-10: 10px;
  --blue-background: rgba(9, 9, 121, 0.3);
  --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /* min-height: 100vh; */
}

#root {
  background: linear-gradient(180deg, #35425B 25.52%, #1E2023 100%);
  min-height: 100vh;

  font-family: var(--outfit);
}


